/* ==== Feature Section ==== */
.feature-section {
  background: #1f1f1f;
  color: #e2e2e2;
  padding: 4rem 2rem;
  margin: 3rem auto;
}

.feature-header {
  max-width: 40%;
  margin: 0 0 3rem;
  text-align: left;
}

.feature-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.feature-title .spotlight {
  color: var(--text-light-color)
}

.feature-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #b5b5b5;
}

/* ==== Grid ==== */
.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}

.feature-card {
  background: #0f0f0f;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.feature-image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.feature-content {
  padding: 1rem 1.2rem;
}

.feature-card-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.4rem;
}

.feature-card-text {
  font-size: 0.95rem;
  color: #b5b5b5;
}

/* ==== Responsividade ==== */
@media (max-width: 1730px) {
  .feature-header {
    max-width: 80%;
  }
}

@media (max-width: 901px) {
    .feature-section {
        padding: 3rem 2rem;
    }
}